<div class="container-fluid">
    <div class="panel-group" >
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createSport">Create new Sport</label>
                <label ng-if="edit" id="editSport">Edit Sport</label></div>
            <div class="panel-body">
                <form name="sport">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="sportName" class="col-sm-2">Name:</label>
                            <input id="sportName" required ng-model="data.name" class="col-sm-6"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!sport.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="sport.$valid" ng-click="createSport()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="sportsList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    
</div>


